VITE_FIREBASE_API_KEY=AIzaSyAzWH8FbwxVfUburG84995elFcEtji4PHk
VITE_FIREBASE_AUTH_DOMAIN=skope-0212.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skope-0212
VITE_FIREBASE_STORAGE_BUCKET=skope-0212.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=309059402092
VITE_FIREBASE_APP_ID=1:309059402092:web:846aae2d8b15814d0edb49
